@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;

}
.container {
  max-width: 1400px;
  margin: auto;
  height: 100vh;
}

.first-animation {
  font-family: 'Amatic SC', cursive;
  color: #000;
  height: 200px;
  width: 200px;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    animation: first-animation 5s linear infinite;

    &:nth-child(1) {
      border-radius: 39% 61% 70% 30% / 51% 47% 53% 49%;
    }

    &:nth-child(2) {
      animation-direction: reverse;
      border-radius: 48% 52% 53% 47% / 58% 75% 25% 42%;
    }
    &:nth-child(3) {
      animation-duration: 3s;
      border-radius: 61% 39% 47% 53% / 44% 47% 53% 56%;
    }
  }
}
@keyframes first-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}